
.contact-conatiner{
    position: absolute;
    width: 100%;
    top: 4804px; /* Set top position */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Offset by 50% of the element's width */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
    
  }

.overlay-text{
    position: absolute; /* Position absolutely within the image container */
   
    left: 50%; /* Align to the left */
    width: 100%; /* Cover the full width of the image */
    height: 50%; /* Cover the full height of the image */
    display: flex; /* Enable flexbox */
    flex-direction: column; /* Arrange children in a column */
    align-items: center; /* Center children horizontally */
    justify-content: center; /* Center children vertically */
    color: black; /* White text color */
   
    transform: translate(-50%, -50%);
}
.heading-touch{
    font-size: 66px;
    font-weight: bold;
    color: #1D4645; 
    margin: 5px;
    padding: 0px;
}

.heading-us{
    font-size: 18px;
    line-height: 32px;
    color: #1D4645;
    margin: 5px;
    padding: 0px;

}
.help-para{
    color: #5F5F5F;
    font-size: 24px;
    line-height: 32px;
    margin: 10px;
    padding: 0px;
}
.form-container{
    position: absolute;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    top: 280px;
    width: 550px;
    height: 480px;
    border-radius: 4px;
    z-index: 2;
   
}
.internal-container{
    position: relative;
    top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.your-name{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    border-style: none;
}
.input-field{
    width: 376px;
    height: 35px;
    border-radius: 4px;
    outline: none;
    border: none; 
    border: 1px solid #5F5F5F;
}
.your-mail{
    display: flex;
    margin-top: 10px;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
.comment{
    display: flex;
    margin-top: 10px;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
.comment-field{
    border-radius: 4px;
    width: 370px;
    height: 140px;
    resize: none;
    outline: none;
    border: none; 
    border: 1px solid #5F5F5F;
}
.labe-name{
    color: #1D4645;
}
.label-email{
    color: #1D4645;
}
.label-comment{
    color: #1D4645;
}
.contact-btn{
    position: relative;
    top: 40px;
    color: white;
   
    
}
.submit-query{
    width: 170px;
    height: 48px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid #1D4645;
}
.overlap-page{
    position: relative;
}
.style-img{
    position: relative;
    margin: 0px;
    z-index: 1;
}